---

- name: Install basic packages
  yum:
    name: "{{ docker_pre_install_packages }}"
    state: latest

- name: Add Docker repo
  get_url:
    url: https://download.docker.com/linux/centos/docker-ce.repo
    dest: /etc/yum.repos.d/docer-ce.repo
  become: yes

- name: Add Docker repo
  shell: |
    dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
    dnf install -y https://download.docker.com/linux/centos/7/x86_64/stable/Packages/containerd.io-1.2.2-3.3.el7.x86_64.rpm
  when:
    ansible_distribution_version == "8.1"

- name: Install basic packages
  yum:
    name: "{{ docker_install_packages }}"
    state: latest
    notify:
      - start_docker
