---

- name: Install basic packages
  yum:
    name: "{{ install_packages }}"

- name: Make Working Directory
  file:
    path: "{{ item }}"
    state: directory
    owner: root
  with_items:
    - "{{ working_directory }}"

- name: Clone Reposytory
  tags: clone
  git:
    repo: "{{ item.name }}"
    dest: "{{ item.dest }}"
    force: yes
  with_items:
    - "{{ clone_repo_list }}"

- name: Delete bashrc
  file:
    path: /root/.bashrc
    state: absent

- name: Create symbolic link
  file:
    src: /root/repo/dotfiles/linux/bashrc
    dest: /root/.bashrc
    state: link

- name: Install fzf
  tags: fzf
  shell: |
    ${HOME}/.fzf/install --all
