name: Docs Lint

on:
  push:
    branches:
      - master
      - develop

env:
  # PATH: "$PYENV_ROOT/bin:$PATH"
  PYTHONDONTWRITEBYTECODE: 1
  PYTHONWARNINGS: ignore
  PYENV_ROOT: "$HOME/.pyenv"

jobs:
  lint:
    name: Install Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install pipenv and dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install yamllint

      - name: Lint Yaml
        shell: bash
        run: |
          ls -la
          find . -name *.yml -not -path ".config" -not -path "*/roles/mac/*"
          find . -name *.yml -not -path ".config" -not -path "*/roles/mac/*" | xargs -L 1 yamllint -c .github/workflows/yamllint.conf
