name: Docs Lint

on:
  push:
    branches:
      - master
      - develop

env:
  # PATH: "$PYENV_ROOT/bin:$PATH"
  PYTHONDONTWRITEBYTECODE: 1
  PYTHONWARNINGS: ignore
  PYENV_ROOT: "$HOME/.pyenv"

jobs:
  lint:
    name: Ansible Syntax Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install pipenv and dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install yamllint==1.23.0
          python -m pip install ansible==2.9.6
          python -m pip install ansible-lint==4.2.0

      # https://github.com/adrienverge/yamllint
      - name: Lint Yaml
        shell: bash
        run: |
          find . -name '*.yml' -not -path '*/roles/mac/*' | xargs -L 1 yamllint -c .github/workflows/yamllint.conf

      # https://github.com/ansible/ansible
      - name: Syntax Check
        shell: bash
        run: |
          find . -maxdepth 1 -name '*.yml' | xargs ansible-playbook -i inventory/inventory.ini --syntax-check -vvv
